<!DOCTYPE html>
<html>
	<head>
		<title>Nerdorder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="static/bootstrap-3.2.0-dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="static/bootstrap-3.2.0-dist/css/bootstrap-theme.css"/>
		<script type="text/javascript" src="static/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="static/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="page-header">
				<img src="static/logo-v1.0.png" class="logo img-rounded" width="64" height="64"><h1>Nerdorder</h1>
			</div>
			{{.Message}}
			<div class="container">
				<form class="form-signin">
					<h2 class="form-signin-heading">Please sign in</h2>
					<label for="inputUsername" class="sr-only">Username</label>
					<input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit"  name="action" value="do">Sign in</button>
				</form>
			</div> <!-- /container -->
		</div>
	</body>
</html>