<!DOCTYPE html>
<html>
<head>
  <title>Moodlights Setting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="static/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-3.2.0-dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-3.2.0-dist/css/bootstrap-theme.css"/>
</head>
<body>
<div class="container">
	<div class="col-md-6">	
		<div class="panel panel-primary">
			<!-- Default panel contents -->
  			<div class="panel-heading">Reichelt</div>
				<!-- Table -->
  				<table class="table">
					<tr>
    			    	<th>ArtNr</th>
    					<th>Name</th>
    					<th>Preis</th>
						<th>Stück</th>
					</tr>
					<tr>
						<td>MZ-75E250B</td>
						<td>Samsung 850 Evo</td>
						<td>119,95€</td>
						<td>1</td>
						<td><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
					</tr>
					<tr>
					<td><input type="text" class="form-control" placeholder="ArtNr"></td>
					<td><input type="text" class="form-control" placeholder="Name"></td>
					<td><input type="text" class="form-control" placeholder="Preis"></td>
					<td><input type="text" class="form-control" placeholder="Stück"></td>
					<td><button class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
					</tr>
				</table>
		</div>
	</div>
	<div class="col-md-6">	
		<div class="panel panel-primary">
			<!-- Default panel contents -->
  			<div class="panel-heading">Reichelt</div>
				<!-- Table -->
  				<table class="table">
    			...
  				</table>
		</div>
	</div>
</div>
</body>
